<div class="example-boundary">
  <div class="example-box" [cdkDragFreeDragPosition]="{x: 300, y: 300}" cdkDragBoundary=".example-boundary" cdkDrag>
    bbbbbbbbbbbbbbbbbb
  </div>

  <div class="example-box" [cdkDragFreeDragPosition]="{x: 200, y: 200}" cdkDragBoundary=".example-boundary" cdkDrag>
    aaaaaaaaaaaaaaaaaadddddddddd
  </div>



  <div class="example-vertical-line" [cdkDragFreeDragPosition]="{x: 200, y: 217}" cdkDragBoundary=".example-boundary" cdkDrag>
  </div>

  <div class="example-line" [cdkDragFreeDragPosition]="{x: 200, y: 200}" cdkDragBoundary=".example-boundary" cdkDrag>
  </div>


  <div class="example-vertical-line" [cdkDragFreeDragPosition]="{x: 200, y: 200}" cdkDragBoundary=".example-boundary" cdkDrag>
  </div>



  <div class="example-vertical-line" [cdkDragFreeDragPosition]="{x: 200, y: 200}" cdkDragBoundary=".example-boundary" cdkDrag>
  </div>

  <div class="example-line" [cdkDragFreeDragPosition]="{x: 200, y: 200}" cdkDragBoundary=".example-boundary" cdkDrag>
  </div>

  <div class="example-vertical-line" [cdkDragFreeDragPosition]="{x: 200, y: 217}" cdkDragBoundary=".example-boundary" cdkDrag>
  </div>






</div>

