<div class="edit-content">
  <div class="edit-content-header">
    新增
  </div>
  <hr>
  <div class="edit-content-info">
    <mat-grid-list cols="16" rowHeight="60px" gutterSize="5px">
      <mat-grid-tile colspan="2" class="title">名称:</mat-grid-tile>
      <mat-grid-tile colspan="14" class="content">
        <mat-form-field class="example-full-width">
          <mat-label>名称属性</mat-label>
          <input matInput [(ngModel)]="dataElement.siteName">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" class="title">背景:</mat-grid-tile>
      <mat-grid-tile colspan="14" class="content">
        <mat-form-field class="example-full-width">
          <mat-label>背景属性</mat-label>
          <input matInput [(ngModel)]="dataElement.loginBg">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" class="title">简称:</mat-grid-tile>
      <mat-grid-tile colspan="14" class="content">
        <mat-form-field class="example-full-width">
          <mat-label>名称简称属性</mat-label>
          <input matInput [(ngModel)]="dataElement.siteSubName">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" class="title">路径:</mat-grid-tile>
      <mat-grid-tile colspan="14" class="content">
        <mat-form-field class="example-full-width">
          <mat-label>路径属性</mat-label>
          <input matInput [(ngModel)]="dataElement.sitePath">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <hr>
  <div class="edit-content-bottom">
    <mat-card-actions align="start">
      <button mat-button (click)="doSomething()">取消</button>
      <button mat-button (click)="doSave()">保存</button>
    </mat-card-actions>
  </div>
  <mat-progress-bar [ngStyle]="visibilityEditData" mode="indeterminate"></mat-progress-bar>
</div>
