<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over" position="end" class="edit-drawer">
    <app-index-edit #appIndexEdit></app-index-edit>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <input matInput placeholder="查询条件">
      <button mat-raised-button color="primary" (click)="queryData()">查询</button>
      <button mat-icon-button color="primary" (click)="openEditSidenav(0)" aria-label="新增数据">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
    <mat-progress-bar [ngStyle]="visibilityListData" mode="indeterminate"></mat-progress-bar>
    <div class="table-container">
      <div class="tables-container">
        <div class="mat-drawer-content-content">
        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
            <mat-cell *matCellDef="let element;" > {{element.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="typeStr">
            <mat-header-cell mat-header-cell *matHeaderCellDef> 数据库类型 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.typeStr}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="hostname">
            <mat-header-cell mat-header-cell *matHeaderCellDef> 连接地址 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hostname}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="port">
            <mat-header-cell mat-header-cell *matHeaderCellDef> 端口 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.port}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="user">
            <mat-header-cell mat-header-cell *matHeaderCellDef> 用户 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.user}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="password">
            <mat-header-cell mat-header-cell *matHeaderCellDef> 密码 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.password}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="remark">
            <mat-header-cell mat-header-cell *matHeaderCellDef> 备注 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.remark}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="operate">
            <mat-header-cell mat-header-cell *matHeaderCellDef> 操作 </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a mat-icon-button color="primary" (click)="openEditSidenav(element.id, true)"  title="查看">
                <mat-icon>open_in_new</mat-icon>
              </a>
              <a mat-icon-button color="primary" (click)="openEditSidenav(element.id)"  title="修改">
                <mat-icon>edit</mat-icon>
              </a>
              <a mat-icon-button color="accent" (click)="delById(element.id)"  title="删除">
                <mat-icon>delete</mat-icon>
              </a>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        </div>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" [length]="dataLength"
                     showFirstLastButtons
                     firstPageLabel="firstPageLabel"
                     itemsPerPageLabel="itemsPerPageLabel"
                     lastPageLabel="lastPageLabel"
                     nextPageLabel="nextPageLabel"
                     previousPageLabel="previousPageLabel"
                     [pageIndex]="pageIndex"
                     (page)="handlePageEvent($event)"
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
