<div class="edit-content flex flex-col h-full">
  <div class="h-12 edit-content-header border-b">
      查看
  </div>
  <div class="flex-1 overflow-y-auto bg-white border-b">
    <div class="p-4">
      <mat-grid-list cols="16" rowHeight="60px" gutterSize="5px">
                <mat-grid-tile colspan="4" class="title">公司:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.company }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">来源账号:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.sourceAccount }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">服务器名称:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.name }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">IP地址:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.ipAddress }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">服务器用户名:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.username }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">服务器密码:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.password }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">操作系统:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.os }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">CPU使用率:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.cpuUsage }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">内存总大小:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.memorySize }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">内存可用大小:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.memoryAvailable }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">磁盘总大小:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.diskSize }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">磁盘可用大小:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.diskAvailable }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">服务器位置:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.location }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">到期时间:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.expiryDate }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">服务器状态:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.status }}</mat-grid-tile>

      </mat-grid-list>
    </div>
  </div>
  <div class="h-12">
    <mat-card-actions align="start">
      <button mat-button (click)="doSomething()">关闭</button>
    </mat-card-actions>
  </div>
  <mat-progress-bar [ngStyle]="visibilityEditData" mode="indeterminate"></mat-progress-bar>
</div>
