<div class="edit-content flex flex-col h-full">
  <div class="h-12 edit-content-header border-b">
    {{ dataElement.ipAddress }} : {{ dataElement.expiryDate }}
    {{ vncPwd }}
    <button mat-button (click)="getVncPwd()">获取密码</button>
  </div>
  <mat-progress-bar [ngStyle]="visibilityVncData" mode="indeterminate"></mat-progress-bar>
  <div class="flex-1 bg-white border-b">
    <div style="height: 100% " class="flex flex-col h-full">
      <div class="h-[500px]">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="系统访问">
            <iframe
              *ngIf="iframeUrl"
              [src]="iframeUrl"
              width="800"
              height="500"
              style="border:0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </mat-tab>
          <mat-tab label="系统状态">
            <mat-grid-list cols="16" rowHeight="30px" gutterSize="3px">
              <mat-grid-tile colspan="4" class="title">CPU使用率:</mat-grid-tile>
              <mat-grid-tile colspan="12" class="content">{{ dataElement.cpuUsage }}</mat-grid-tile>

              <mat-grid-tile colspan="4" class="title">内存总大小:</mat-grid-tile>
              <mat-grid-tile colspan="12" class="content">{{ dataElement.memorySize }}</mat-grid-tile>

              <mat-grid-tile colspan="4" class="title">内存可用大小:</mat-grid-tile>
              <mat-grid-tile colspan="12" class="content">{{ dataElement.memoryAvailable }}</mat-grid-tile>

              <mat-grid-tile colspan="4" class="title">磁盘总大小:</mat-grid-tile>
              <mat-grid-tile colspan="12" class="content">{{ dataElement.diskSize }}</mat-grid-tile>

              <mat-grid-tile colspan="4" class="title">磁盘可用大小:</mat-grid-tile>
              <mat-grid-tile colspan="12" class="content">{{ dataElement.diskAvailable }}</mat-grid-tile>
            </mat-grid-list>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="flex-1 edit-content-info-scrollbar">
        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id" sticky >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 操作记录唯一标识 </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="serverId"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 服务器id </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.serverId}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="applicationName"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef>
              <mat-select [(ngModel)]="applicationSelectId" (selectionChange)="queryLog()">
                @for (app of application; track app) {
                  <mat-option [value]="app.value">{{app.viewValue}}</mat-option>
                }
              </mat-select>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.applicationName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="operationType"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 操作类型 </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.operationType}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="description"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 办理记录 </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.description}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="createDate"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 操作时间 </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.createDate}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" [length]="dataLength"
                     [pageIndex]="pageIndex"
                     (page)="handlePageEvent($event)"
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
  <div class="h-12">
    <mat-card-actions align="start">
      <button mat-button (click)="doSomething()">关闭</button>
    </mat-card-actions>
  </div>
  <mat-progress-bar [ngStyle]="visibilityEditData" mode="indeterminate"></mat-progress-bar>
</div>
