<div class="edit-content flex flex-col h-full">
  <div class="h-12 edit-content-header border-b">
      {{ dataElement.ipAddress }} : {{ dataElement.expiryDate }}
  </div>
  <div class="flex-1 overflow-y-auto bg-white border-b">
    <div class="p-4">
      <mat-grid-list cols="16" rowHeight="30px" gutterSize="3px">

        <mat-grid-tile colspan="4" class="title">CPU使用率:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.cpuUsage }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">内存总大小:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.memorySize }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">内存可用大小:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.memoryAvailable }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">磁盘总大小:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.diskSize }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">磁盘可用大小:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.diskAvailable }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">服务器位置:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.location }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">到期时间:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.expiryDate }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">服务器状态:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.status }}</mat-grid-tile>

      </mat-grid-list>
    </div>
  </div>
  <div class="h-12">
    <mat-card-actions align="start">
      <button mat-button (click)="doSomething()">关闭</button>
    </mat-card-actions>
  </div>
  <mat-progress-bar [ngStyle]="visibilityEditData" mode="indeterminate"></mat-progress-bar>
</div>
