<div class="edit-content flex flex-col h-full">
  <div class="h-12 edit-content-header border-b">
    <ng-container *ngIf="show">
      查看
    </ng-container>
    <ng-container *ngIf="!show">
      新增
    </ng-container>
  </div>
  <div class="flex-1 overflow-y-auto bg-white border-b">
    <div class="p-4">
      <mat-grid-list cols="16" rowHeight="60px" gutterSize="5px">
        <mat-grid-tile colspan="4" class="title">应用名称:</mat-grid-tile>
        <mat-grid-tile colspan="12">
          <mat-form-field>
            <mat-label>应用名称</mat-label>
            <input matInput [(ngModel)]="dataElement.name" [readonly]="show">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">脚本命令:</mat-grid-tile>
        <mat-grid-tile colspan="12">
          <mat-form-field>
            <mat-label>脚本命令</mat-label>
            <input matInput [(ngModel)]="dataElement.script" [readonly]="show">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">脚本地址:</mat-grid-tile>
        <mat-grid-tile colspan="12">
          <mat-form-field>
            <mat-label>脚本地址（脚本下载路径）</mat-label>
            <input matInput [(ngModel)]="dataElement.scriptUrl" [readonly]="show">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">脚本地址:</mat-grid-tile>
        <mat-grid-tile colspan="12">
          <mat-form-field>
            <mat-label>脚本地址（服务器存储脚本文件的位置）</mat-label>
            <input matInput [(ngModel)]="dataElement.scriptPath" [readonly]="show">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">图标:</mat-grid-tile>
        <mat-grid-tile colspan="12">
          <mat-form-field>
            <mat-label>图标</mat-label>
            <input matInput [(ngModel)]="dataElement.icon" [readonly]="show">
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </div>
  </div>
  <div class="h-12">
    <mat-card-actions align="start">
      <button mat-button (click)="doSomething()">关闭</button>
      <button mat-button (click)="doSave()" *ngIf="!show">保存</button>
    </mat-card-actions>
  </div>
  <mat-progress-bar [ngStyle]="visibilityEditData" mode="indeterminate"></mat-progress-bar>
</div>
