<div class="edit-content flex flex-col h-full">
  <div class="h-12 edit-content-header border-b">
      查看
  </div>
  <div class="flex-1 overflow-y-auto bg-white border-b">
    <div class="p-4">
      <mat-grid-list cols="16" rowHeight="60px" gutterSize="5px">
                <mat-grid-tile colspan="4" class="title">应用名称:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.name }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">脚本命令:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.script }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">脚本地址:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.scriptUrl }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">脚本地址:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.scriptPath }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">图标:</mat-grid-tile>
        <mat-grid-tile colspan="12">{{ dataElement.icon }}</mat-grid-tile>

      </mat-grid-list>
    </div>
  </div>
  <div class="h-12">
    <mat-card-actions align="start">
      <button mat-button (click)="doSomething()">关闭</button>
    </mat-card-actions>
  </div>
  <mat-progress-bar [ngStyle]="visibilityEditData" mode="indeterminate"></mat-progress-bar>
</div>
