<div class="edit-content">
  <mat-grid-list cols="32" rowHeight="60px" gutterSize="5px">
    <mat-grid-tile colspan="3" class="title">名称:</mat-grid-tile>
    <mat-grid-tile colspan="9" class="content">
      <mat-form-field class="example-full-width">
        <mat-label>名称</mat-label>
        <input matInput  [(ngModel)]="joinColumn.name" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" class="title">表类型:</mat-grid-tile>
    <mat-grid-tile colspan="5" class="content">
      <mat-form-field class="example-full-width">
        <mat-label>表类型</mat-label>
        <input matInput  [(ngModel)]="joinColumn.type" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" class="title">来源表:</mat-grid-tile>
    <mat-grid-tile colspan="9" class="content">
      <mat-form-field class="example-full-width">
        <mat-label>来源表</mat-label>
        <input matInput [(ngModel)]="joinColumn.readTable" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" class="title">目标表:</mat-grid-tile>
    <mat-grid-tile colspan="9" class="content">
      <mat-form-field class="example-full-width">
        <mat-label>目标表</mat-label>
        <input matInput [(ngModel)]="joinColumn.writeTable" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" class="title">主键:</mat-grid-tile>
    <mat-grid-tile colspan="17" class="content">
      <mat-form-field class="example-full-width">
        <mat-label>主键</mat-label>
        <input matInput [(ngModel)]="joinColumn.keys" required>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<mat-accordion>
  <div class="example-container">
    <h2>读表字段</h2>
    <div
      cdkDropList
      [cdkDropListData]="joinColumn.read"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of joinColumn.read; index as i" cdkDrag>
        <input class="comInput" matInput [(ngModel)]="joinColumn.read[i]" />
      </div>
    </div>
  </div>
  <div class="example-container">
    <h2>写表字段</h2>
    <div
      cdkDropList
      [cdkDropListData]="joinColumn.write"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of joinColumn.write; index as i" cdkDrag>
        <input class="comInput" matInput [(ngModel)]="joinColumn.write[i]" />
      </div>
    </div>
  </div>
</mat-accordion>
<button (click)="addItem()">Add Item</button>
<button (click)="showItem()">Show Item</button>
