<div class="example-action-buttons">
  <button mat-button (click)="create()">创建</button>
</div>
<mat-accordion>
  @for (item of tableList; track item.key; let i = $index) {
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ tableList[i].label }}</mat-panel-title>
        <mat-panel-description> {{ tableList[i].label }}</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-2 m-1 flex">
          <div class="w-16 shrink-0 h-14 flex items-center justify-end">名称：</div>
          <div class="grow h-14">
            <mat-form-field class="mat-form-field-width">
              <input matInput [(ngModel)]="tableList[i].name">
            </mat-form-field>
          </div>
        </div>
        <div class="col-span-2 m-1 flex">
          <div class="w-16 shrink-0 h-14 flex items-center justify-end">包路径：</div>
          <div class="grow h-14">
            <mat-form-field class="mat-form-field-width">
              <input matInput [(ngModel)]="tableList[i].pack">
            </mat-form-field>
          </div>
        </div>
        <div class="col-span-2 m-1 flex">
          <div class="w-16 shrink-0 h-14 flex items-center justify-end">风格：</div>
          <div class="grow h-14">
            <mat-form-field class="mat-form-field-width">
              <mat-select [(ngModel)]="tableList[i].style">
                <mat-option [value]="1">上下</mat-option>
                <mat-option [value]="2">左右</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-span-4 m-1 flex">
          <table mat-table [dataSource]="tableList[i].collate" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="nameShow">
              @if (true) {
                <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by number">
                  列
                </th>
              }
              @if (true) {
                <td mat-cell *matCellDef="let element"> {{ element.nameShow }}</td>
              }
            </ng-container>

            <ng-container matColumnDef="queryShow">
              @if (true) {
                <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by name">
                  查询显示
                </th>
              }
              @if (true) {
                <td mat-cell *matCellDef="let element">
                  <input type="checkbox" [(ngModel)]="element.queryShow"/>
                </td>
              }
            </ng-container>

            <ng-container matColumnDef="tableShow">
              @if (true) {
                <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by symbol">
                  列表显示
                </th>
              }
              @if (true) {
                <td mat-cell *matCellDef="let element">
                  <input type="checkbox" [(ngModel)]="element.tableShow"/>
                </td>
              }
            </ng-container>

            <ng-container matColumnDef="detailShow">
              @if (true) {
                <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by symbol">
                  详情显示
                </th>
              }
              @if (true) {
                <td mat-cell *matCellDef="let element">
                  <input type="checkbox" [(ngModel)]="element.detailShow"/>
                </td>
              }
            </ng-container>

            <ng-container matColumnDef="addShow">
              @if (true) {
                <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by symbol">
                  添加显示
                </th>
              }
              @if (true) {
                <td mat-cell *matCellDef="let element">
                  <input type="checkbox" [(ngModel)]="element.addShow"/>
                </td>
              }
            </ng-container>

            <ng-container matColumnDef="keyword">
              @if (true) {
                <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by symbol">
                  关键字查询
                </th>
              }
              @if (true) {
                <td mat-cell *matCellDef="let element">
                  <input type="checkbox" [(ngModel)]="element.keyword"/>
                </td>
              }
            </ng-container>

            @if (true) {
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            }
            @if (true) {
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            }
          </table>
        </div>
      </div>
    </mat-expansion-panel>
  }
</mat-accordion>
