<mat-accordion cdkDropList
               [cdkDropListData]="tableList"
               class="example-list"
               (cdkDropListDropped)="drop($event)">
  <mat-expansion-panel *ngFor="let item of tableList; index as i" cdkDrag (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{tableList[i].label}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="grid grid-cols-4 gap-4">
      <div class="col-span-2 m-1 flex">
        <div class="w-16 shrink-0 h-14 flex items-center justify-end">名称：</div>
        <div class="grow h-14">
          <mat-form-field class="mat-form-field-width">
            <input matInput [(ngModel)]="tableList[i].name">
          </mat-form-field>
        </div>
      </div>
      <div class="col-span-2 m-1 flex">
        <div class="w-16 shrink-0 h-14 flex items-center justify-end">包路径：</div>
        <div class="grow h-14">
          <mat-form-field class="mat-form-field-width">
            <input matInput [(ngModel)]="tableList[i].pack">
          </mat-form-field>
        </div>
      </div>
      <div class="col-span-2 m-1 flex">
        <div class="w-16 shrink-0 h-14 flex items-center justify-end">风格：</div>
        <div class="grow h-14">
          <mat-form-field class="mat-form-field-width">
            <mat-select [(ngModel)]="tableList[i].style">
              <mat-option [value]="1">上下</mat-option>
              <mat-option [value]="2">左右</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-span-4 m-1 flex">
        <table>
          <thead>
          <tr>
            <th>列</th>
            <th>查询显示</th>
            <th>列表显示</th>
            <th>详情显示</th>
            <th>添加显示</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of tableList[i].collate; index as k">
            <td>{{item.nameShow}}</td>
            <td>
              <input type="checkbox" [(ngModel)]="tableList[i].collate[k].queryShow" (change)="changeCheckedChild(item)" />
            </td>
            <td>
              <input type="checkbox" [(ngModel)]="tableList[i].collate[k].tableShow" (change)="changeCheckedChild(item)" />
            </td>
            <td>
              <input type="checkbox" [(ngModel)]="tableList[i].collate[k].detailShow" (change)="changeCheckedChild(item)" />
            </td>
            <td>
              <input type="checkbox" [(ngModel)]="tableList[i].collate[k].addShow" (change)="changeCheckedChild(item)" />
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
