<mat-accordion cdkDropList
               [cdkDropListData]="tableList"
               class="example-list"
               (cdkDropListDropped)="drop($event)">
  <mat-expansion-panel *ngFor="let item of tableList; index as i" cdkDrag (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{tableList[i].label}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="grid grid-cols-4 gap-4">
      <div class="col-span-2 m-1 flex">
        <div class="w-16 shrink-0 h-14 flex items-center justify-end">名称：</div>
        <div class="grow h-14">
          <mat-form-field class="mat-form-field-width">
            <input matInput [(ngModel)]="tableList[i].name">
          </mat-form-field>
        </div>
      </div>
      <div class="col-span-2 m-1 flex">
        <div class="w-16 shrink-0 h-14 flex items-center justify-end">主键：</div>
        <div class="grow h-14">
          <mat-form-field class="mat-form-field-width">
            <input matInput [(ngModel)]="tableList[i].name">
          </mat-form-field>
        </div>
      </div>
      <div class="col-span-2 m-1 flex">
        <div class="w-16 shrink-0 h-14 flex items-center justify-end">风格：</div>
        <div class="grow h-14">
          <mat-form-field class="mat-form-field-width">
            <mat-select [(ngModel)]="tableList[i].style">
              <mat-option [value]="1">上下</mat-option>
              <mat-option [value]="2">左右</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-span-4 m-1 flex">

      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
