  <mat-accordion>
    @for (table of tables; track $index; let i = $index) {
      <mat-expansion-panel  (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{table.readTable}}
          </mat-panel-title>
          <mat-panel-description>
            {{table.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <table>
            @for (col of table.columns; track $index; let k = $index) {
              <tr>
                <td>{{k+1}}</td>
                <td>{{col.readColumn}}</td>
                <td>{{col.writeColumn}}</td>
              </tr>
            }
          </table>
        </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="del(i)">删除</button>
          <button mat-button color="primary" (click)="edit(i)">修改</button>
        </mat-action-row>
      </mat-expansion-panel>
    }
  </mat-accordion>
