<mat-drawer-container>
  <mat-drawer #drawer mode="over" position="end" class="edit-drawer">
    <app-flowableInitiateTask-edit #appFlowableInitiateTaskEdit></app-flowableInitiateTask-edit>
  </mat-drawer>
  <div class="mat-drawer-containers flex flex-col h-screen">
    <mat-toolbar>
      <input matInput [(ngModel)]="user" placeholder="查询条件">
      <button mat-raised-button color="primary" (click)="queryData()">查询</button>
      <button mat-icon-button color="primary" (click)="openEditSidenav()" aria-label="新增数据">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
    <mat-progress-bar [ngStyle]="visibilityListData" mode="indeterminate"></mat-progress-bar>
    <div class="flex-1 edit-content-info-scrollbar">
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <mat-header-cell mat-header-cell *matHeaderCellDef> id</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="taskName">
          <mat-header-cell mat-header-cell *matHeaderCellDef> 任务名称</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.taskName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="processName">
          <mat-header-cell mat-header-cell *matHeaderCellDef> 名称</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.processName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell mat-header-cell *matHeaderCellDef> 状态</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.status }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <mat-header-cell mat-header-cell *matHeaderCellDef> 开始时间</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.startTime }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="processInstanceId">
          <mat-header-cell mat-header-cell *matHeaderCellDef> 流程id</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.processInstanceId }}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="operate">
          <mat-header-cell mat-header-cell *matHeaderCellDef> 操作</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a mat-icon-button color="primary" (click)="openEditSidenav(element.id, true)" title="查看">
              <mat-icon>open_in_new</mat-icon>
            </a>
            <a mat-icon-button color="primary" (click)="openEditSidenav(element.id)" title="修改">
              <mat-icon>edit</mat-icon>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" [length]="dataLength"
                   [showFirstLastButtons]="true"
                   [pageIndex]="pageIndex"
                   (page)="handlePageEvent($event)">
    </mat-paginator>
  </div>
</mat-drawer-container>
