.edit-drawer{
  width: 800px;
}

.mat-mdc-table {
  table-layout: fixed;
}

.mat-mdc-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-column-operate {
  flex: 0 0 160px;
  white-space: nowrap;
}
