<div class="edit-content">
  <div class="edit-content-header">
    @if (show) {
      查看
    }
    @if (!show) {
      新增
    }
  </div>
  <mat-divider/>
  <ng-container>
    <div class="edit-content-info">
      <mat-grid-list cols="16" rowHeight="60px" gutterSize="5px">

        <mat-grid-tile colspan="4" class="title">状态:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">
          <mat-form-field class="example-full-width">
            <mat-label>状态</mat-label>
            <mat-select [(ngModel)]="dataElement.outcome" [required]="show">
              @for (option of sourceType; track option.value) {
                <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">任务id:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">
          <mat-form-field class="example-full-width">
            <mat-label>任务id</mat-label>
            <input matInput [(ngModel)]="dataElement.taskId">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" class="title">办理人:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">
          <mat-form-field class="example-full-width">
            <mat-label>办理人</mat-label>
            <input matInput [(ngModel)]="dataElement.assignee">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <mat-divider/>
    <div class="edit-content-bottom">
      <mat-card-actions align="start">
          <button mat-button (click)="doSomething()">关闭</button>
          @if (!show) {
            <button mat-button (click)="doSave()">提交</button>
          }
      </mat-card-actions>
    </div>
    <mat-progress-bar [ngStyle]="visibilityEditData" mode="indeterminate"></mat-progress-bar>
  </ng-container>
</div>
