<div class="edit-content">
  <div class="edit-content-header">
    <ng-container *ngIf="show">
      查看
    </ng-container>
    <ng-container *ngIf="!show">
      新增
    </ng-container>
  </div>
  <hr>
  <ng-container>
    <mat-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup" >
          <ng-template matStepLabel>数据源配置</ng-template>
          <div class="edit-deploy-content-info">
            <mat-grid-list cols="16" rowHeight="60px" gutterSize="5px">
              <mat-grid-tile colspan="2" class="title">名称:</mat-grid-tile>
              <mat-grid-tile colspan="14" class="content">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="任务名称" [(ngModel)]="syncConfig.name" required>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" class="title">读取数据源:</mat-grid-tile>
              <mat-grid-tile colspan="6" class="content">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="读取数据源" [(ngModel)]="syncConfig.readConnectId" required>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile colspan="2" class="title">读取数据库:</mat-grid-tile>
              <mat-grid-tile colspan="6" class="content">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="读取数据库" [(ngModel)]="syncConfig.readConnectId" required>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile colspan="2" class="title">写入数据源:</mat-grid-tile>
              <mat-grid-tile colspan="6" class="content">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="写入数据源" [(ngModel)]="syncConfig.writeConnectId" required>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile colspan="2" class="title">写入数据库:</mat-grid-tile>
              <mat-grid-tile colspan="6" class="content">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="写入数据库" [(ngModel)]="syncConfig.writeConnectId" required>
                </mat-form-field>
              </mat-grid-tile>

            </mat-grid-list>
          </div>
          <hr>
          <div>
            <button mat-button matStepperNext (click)="initDataBase()">下一步</button>
          </div>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
          <ng-template matStepLabel>表配置</ng-template>
          <mat-tab-group #appEditTable>
            <mat-tab label="list">
              <div class="edit-deploy-table-content-info">
                <app-sync-table #appSyncTable></app-sync-table>
              </div>
              <hr>
              <div class="fixed-button-container">
                <button mat-fab color="warn" (click)="showAddSync()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div>
                <button mat-button matStepperPrevious>上一步</button>
                <button mat-button matStepperNext>下一步</button>
              </div>
            </mat-tab>
            <mat-tab label="edit">
              <div class="edit-deploy-column-content-info">
                <app-column #appColumn></app-column>
              </div>
              <hr>
              <div>
                <button mat-button (click)="exitAddTable()">取消</button>
                <button mat-button (click)="addTable()">添加</button>
              </div>
            </mat-tab>
          </mat-tab-group>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>预览</ng-template>
        <div class="edit-deploy-content-info">
        <p>You are now done.</p>
        </div>
        <hr>
        <div>
          <button mat-button matStepperPrevious>上一步</button>
          <button mat-button (click)="stepper.reset()">重置</button>
          <button mat-button (click)="doSave()">保存</button>
        </div>
      </mat-step>
    </mat-stepper>
    <mat-progress-bar [ngStyle]="visibilityEditData" mode="indeterminate"></mat-progress-bar>
  </ng-container>
</div>
