<div class="appSyncTableContainer flex flex-col h-screen">
  <div >
    <mat-grid-list cols="32" rowHeight="60px" gutterSize="5px">
    <mat-grid-tile colspan="3" class="title">名称:</mat-grid-tile>
    <mat-grid-tile colspan="19" class="content">
      <mat-form-field class="example-full-width">
        <mat-label>名称</mat-label>
        <input matInput  [(ngModel)]="joinColumn.name" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" class="title">表类型:</mat-grid-tile>
    <mat-grid-tile colspan="5" class="content">
      <mat-form-field class="example-full-width">
        <mat-label>表类型</mat-label>
        <input matInput  [(ngModel)]="joinColumn.type" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" class="title">来源表:</mat-grid-tile>
    <mat-grid-tile colspan="12" class="content">
      <mat-form-field class="example-full-width">
        <mat-label>来源表</mat-label>
        <mat-select [(ngModel)]="joinColumn.readTable" (selectionChange)="readTableSelect($event)">
          @for (option of readTables; track option.name) {
            <mat-option [value]="option.name">{{ option.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" class="title">目标表:</mat-grid-tile>
    <mat-grid-tile colspan="12" class="content">
      <mat-form-field class="example-full-width">
        <mat-label>目标表</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="writeTableSelect($event)">
          @for (option of filteredOptions | async; track option.name) {
            <mat-option [value]="option.name">
              {{option.name}}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
  <div class="flex-1 edit-content-info-scrollbar">
    <mat-accordion>
    <div class="edit-deploy-column-content-info">
      <div class="example-container">
        <div
          cdkDropList
          [cdkDropListData]="joinColumn.read"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of joinColumn.read; track $index; let i = $index) {
            <div class="example-box" cdkDrag>
              <input class="comInput" matInput [(ngModel)]="joinColumn.read[i]" />
            </div>
          }
        </div>
      </div>
      <div class="example-container">
        <div
          cdkDropList
          [cdkDropListData]="joinColumn.write"
          class="example-list write-list"
          (cdkDropListDropped)="dropList($event)">
          @for (item of joinColumn.write; track $index; let i = $index) {
            <div class="example-box" cdkDrag>
              <input class="comInput" matInput [(ngModel)]="joinColumn.write[i].writeColumn" />
              @if (joinColumn.write[i].key == 1) {
                <mat-icon class="small-icon" color="primary" aria-label="主键">key</mat-icon>
              }
              @if (joinColumn.write[i].convertFun !=null && joinColumn.write[i].convertFun.length>0) {
                <mat-icon class="small-icon" color="primary" aria-label="数据转换">build_circle</mat-icon>
              }
              @if (joinColumn.write[i].defaultValue !=null && joinColumn.write[i].defaultValue.length>0) {
                <mat-icon class="small-icon" color="primary" aria-label="数据加密">data_saver_on</mat-icon>
              }
              <button mat-icon-button (click)="displayMenu($event, i)" class="small-icon-button" aria-label="添加操作项">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          }
        </div>
      </div>
      <div class="example-add">
          <button mat-icon-button color="primary" (click)="addItem()" class="small-icon-button">
            <mat-icon>add</mat-icon>
          </button>
      </div>
    </div>
  </mat-accordion>
  </div>
  <ng-template #overlayMenuList>
    <div class="fab-menu-panel">
      <mat-grid-list cols="16" rowHeight="60px" gutterSize="5px">
        <mat-grid-tile colspan="4" class="title">主键:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">
          <mat-form-field class="example-full-width">
            <mat-label>是否是主键</mat-label>
            <mat-select [(ngModel)]="columnConfigTmp.key" (selectionChange)="keySelect($event)">
              <mat-option value="0">否</mat-option>
              <mat-option value="1">是</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" class="title">转换:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">
          <mat-form-field>
            <mat-label>数据转换</mat-label>
            <mat-select [(ngModel)]="columnConfigTmp.convertFun" (selectionChange)="convertSelect($event)">
              <mat-option>--</mat-option>
              @for (option of sourceType; track option.value) {
                <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" class="title">默认值:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">
          <mat-form-field class="example-full-width">
            <mat-label>数据默认值</mat-label>
            <input matInput [(ngModel)]="columnConfigTmp.defaultValue" (ngModelChange)="defaultValueChange()">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </ng-template>
</div>
