<div class="edit-content">
  <mat-grid-list cols="32" rowHeight="60px" gutterSize="5px">
    <mat-grid-tile colspan="3" class="title">名称:</mat-grid-tile>
    <mat-grid-tile colspan="19" class="content">
      <mat-form-field class="example-full-width">
        <mat-label>名称</mat-label>
        <input matInput  [(ngModel)]="joinColumn.name" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" class="title">表类型:</mat-grid-tile>
    <mat-grid-tile colspan="5" class="content">
      <mat-form-field class="example-full-width">
        <mat-label>表类型</mat-label>
        <input matInput  [(ngModel)]="joinColumn.type" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" class="title">来源表:</mat-grid-tile>
    <mat-grid-tile colspan="12" class="content">
      <mat-form-field class="example-full-width">
        <mat-label>来源表</mat-label>
        <mat-select [(ngModel)]="joinColumn.readTable" (selectionChange)="readTableSelect($event)">
          <mat-option [value]="option.name" *ngFor="let option of readTables">{{ option.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" class="title">目标表:</mat-grid-tile>
    <mat-grid-tile colspan="12" class="content">
      <mat-form-field class="example-full-width">
        <mat-label>目标表</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="writeTableSelect($event)">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-accordion>
    <div class="edit-deploy-column-content-info">
      <div class="example-container">
        <div
          cdkDropList
          [cdkDropListData]="joinColumn.read"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of joinColumn.read; index as i" cdkDrag>
            <input class="comInput" matInput [(ngModel)]="joinColumn.read[i]" />
          </div>
        </div>
      </div>
      <div class="example-container">
        <div
          cdkDropList
          [cdkDropListData]="joinColumn.write"
          class="example-list write-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of joinColumn.write; index as i" cdkDrag>
            <input class="comInput" matInput [(ngModel)]="joinColumn.write[i]" />
            <mat-checkbox class="small-button" (change)="handleCheckboxChange($event)" [value]="joinColumn.write[i]" [checked] = "checks[i]"></mat-checkbox>
            <mat-icon class="small-icon" color="primary" aria-label="主键">key</mat-icon>
            <mat-icon class="small-icon" color="primary" aria-label="数据转换">build_circle</mat-icon>
            <mat-icon class="small-icon" color="primary" aria-label="数据加密">data_saver_on</mat-icon>
            <button mat-icon-button class="small-icon-button" aria-label="添加操作项">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="example-add">
          <button mat-icon-button color="primary" (click)="addItem()" class="small-icon-button">
            <mat-icon>add</mat-icon>
          </button>
      </div>
    </div>
  </mat-accordion>
</div>
