
.edit-drawer{
  width: 400px;
}

.mat-mdc-table {
  table-layout: fixed;
}

.mat-mdc-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-drawer-container{
  height: calc(100vh - 64px);
}

.mat-drawer-container .mat-drawer-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
