<div class="edit-content">
  <div class="edit-content-header">
    <ng-container *ngIf="show">
      查看
    </ng-container>
    <ng-container *ngIf="!show">
      新增
    </ng-container>
  </div>
  <mat-divider/>
  <ng-container>
    <div class="edit-content-info">
      <mat-grid-list cols="16" rowHeight="60px" gutterSize="5px">

        <mat-grid-tile colspan="4" class="title">流程:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">
          <mat-form-field class="example-full-width">
            <mat-label>流程xml</mat-label>
            <textarea matInput [(ngModel)]="dataElement.bpmnXmlStr" [readonly]="show"> </textarea>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <mat-divider/>
    <div class="edit-content-bottom">
      <mat-card-actions align="start">
          <button mat-button (click)="doSomething()">关闭</button>
          <button mat-button (click)="doSave()" *ngIf="!show">保存</button>
      </mat-card-actions>
    </div>
    <mat-progress-bar [ngStyle]="visibilityEditData" mode="indeterminate"></mat-progress-bar>
  </ng-container>
</div>
