.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.page-content {
  flex: 1;
  background-color: #eee;
}

.page-content-menu {
  min-width: 240px;
  z-index: 2;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  overflow: auto;
}

.page-content-menu::-webkit-scrollbar {
  width: 0;
}


.page-drawer-content{
  height: calc(100vh - 64px);
}
