<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over" position="end" class="edit-drawer">
    <app-accountInfo-edit #appAccountInfoEdit></app-accountInfo-edit>
  </mat-drawer>
  <div class="mat-drawer-containers flex flex-col h-screen">
    <mat-toolbar>
      <input matInput placeholder="查询条件">
      <button mat-raised-button color="primary" (click)="queryData()">查询</button>
      <button mat-icon-button color="primary" (click)="openEditSidenav(0)" aria-label="新增数据">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
    <mat-progress-bar [ngStyle]="visibilityListData" mode="indeterminate"></mat-progress-bar>
    <div class="flex-1 edit-content-info-scrollbar">
        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id" sticky >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 账号ID </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="username"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 用户名 </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.username}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="account"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 账号 </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.account}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="password"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 密码 </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.password}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="key"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 密钥 </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.key}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="region"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 地区 </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.region}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="accountType"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 账号类型（例如：google、facebook、twitter、钱包、其他） </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.accountType}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="isActive"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 是否有效（1：有效，0：无效） </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.isActive}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="remarks"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 备注 </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.remarks}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email"  >
            <mat-header-cell mat-header-cell *matHeaderCellDef> 管理邮箱 </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.email}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="operate">
            <mat-header-cell mat-header-cell *matHeaderCellDef> 操作</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a mat-icon-button color="primary" (click)="openEditSidenav(element.id, true)" title="查看">
                <mat-icon>open_in_new</mat-icon>
              </a>
              <a mat-icon-button color="primary" (click)="openEditSidenav(element.id)" title="修改">
                <mat-icon>edit</mat-icon>
              </a>
              <a mat-icon-button color="accent" (click)="delById(element.id)" title="删除">
                <mat-icon>delete</mat-icon>
              </a>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" [length]="dataLength"
                   [pageIndex]="pageIndex"
                   (page)="handlePageEvent($event)"
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</mat-drawer-container>