<div class="edit-content flex flex-col h-full">
  <div class="h-12 edit-content-header border-b">
      查看
  </div>
  <div class="flex-1 overflow-y-auto bg-white border-b">
    <div class="p-4">
      <mat-grid-list cols="16" rowHeight="30px" gutterSize="3px">
        <mat-grid-tile colspan="4" class="title">用户名:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.username }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">账号:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.account }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">密码:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.password }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">密钥:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.secretKey }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">地区:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.region }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">账号类型:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.accountType }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">是否有效:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.isActive }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">备注:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.remarks }}</mat-grid-tile>

        <mat-grid-tile colspan="4" class="title">管理邮箱:</mat-grid-tile>
        <mat-grid-tile colspan="12" class="content">{{ dataElement.email }}</mat-grid-tile>

      </mat-grid-list>
    </div>
  </div>
  <div class="h-12">
    <mat-card-actions align="start">
      <button mat-button (click)="doSomething()">关闭</button>
    </mat-card-actions>
  </div>
  <mat-progress-bar [ngStyle]="visibilityEditData" mode="indeterminate"></mat-progress-bar>
</div>
