.flex-container {
  display: flex;
  flex-wrap: wrap; /* 允许子项换行 */
}

.flex-item {
  flex: 1 1 calc(34%); /* 计算每个子项的宽度，可根据需要调整 */
  margin: 5px; /* 为子项添加一些间距，可根据需要调整 */
  box-sizing: border-box; /* 确保边框和填充不增加子项的实际宽度 */
  min-width: 0; /* 确保子项不会溢出容器 */
}


.flex-title {
  flex: 1 1; /* 计算每个子项的宽度，可根据需要调整 */
  margin: 5px; /* 为子项添加一些间距，可根据需要调整 */
  box-sizing: border-box; /* 确保边框和填充不增加子项的实际宽度 */
  min-width: 0; /* 确保子项不会溢出容器 */

  display: flex; /* 使用 Flex 布局 */
  align-items: center; /* 垂直居中 */
  justify-content: right !important; /* 水平居中，可根据需要调整 */
}


.flex-line {
  flex: 1 1 calc(84%); /* 计算每个子项的宽度，可根据需要调整 */
  margin: 5px; /* 为子项添加一些间距，可根据需要调整 */
  box-sizing: border-box; /* 确保边框和填充不增加子项的实际宽度 */
  min-width: 0; /* 确保子项不会溢出容器 */
}

.example-full-width {
  width: 100%; /* 使mat-form-field的宽度充满外部div */
  box-sizing: border-box; /* 保持宽度计算包括边框和填充 */
}
