.edit-content{

}

.edit-content .edit-content-header {
  padding-left: 20px;
  font-weight: bold;
  font-size: 15px;
  height: 50px;
  display: flex;
  align-items: center;
}

.edit-content .edit-content-info{
  flex: 1;
  overflow-y: auto;
  padding: 5px 5px 0 0;
}

.edit-content .edit-content-bottom{
  height: 50px;
}

.edit-content .mat-grid-list .title .mat-grid-tile-content{
  justify-content:right !important;
}
.edit-content .mat-grid-list .content .mat-grid-tile-content{
  justify-content:left !important;
}

.edit-content .mat-grid-list .content .mat-mdc-form-field{
  width:100%  !important;
}

.edit-content .edit-content-info::-webkit-scrollbar {
  width: 1px;
}

/* 滚动条轨道 */
.edit-content .edit-content-info::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 设置轨道的背景颜色 */
}

/* 滚动条滑块 */
.edit-content .edit-content-info::-webkit-scrollbar-thumb {
  background-color: #888; /* 设置滑块的背景颜色 */
  border-radius: 10px; /* 设置滑块的圆角 */
}

/* 鼠标悬停在滚动条上时的滑块 */
.edit-content .edit-content-info::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 设置悬停状态下滑块的背景颜色 */
}

.edit-content .mat-horizontal-content-container{
  padding: 0 12px 0 12px !important;
}

.edit-content .mat-mdc-tab-group .mat-mdc-tab-label-container{
  height: 0px;
}

.edit-content .fixed-button-container {
  position: fixed;
  bottom: 80px;
  right: 80px;
}

.edit-content .mat-mdc-tab-body-content{
  overflow: hidden !important;
}

.show-content-info tr td{
  padding: 5px;
}

.show-content-info tr td:first-child{
  width: 25%;
  text-align: right;
  vertical-align: top;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: white !important;
}

.mdc-card__actions{
  padding: 0 !important;;
}

.mat-drawer.mat-drawer-end{
  position: fixed;
  z-index: 10;
  padding-right: 5px;
}

//设置弹出层背景颜色
.mat-drawer-backdrop.mat-drawer-shown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgb(255 255 255 / 20%) !important;
}



.mat-form-field-width{
  width: 100%;
}


/* 全局样式，修改所有 textarea 的滚动条 */
textarea::-webkit-scrollbar {
  width: 6px; /* 设置滚动条宽度 */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #888; /* 设置滚动条拖动手柄的背景色 */
  border-radius: 6px; /* 设置滚动条拖动手柄的圆角 */
}

textarea::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* 设置滚动条轨道的背景色 */
}

.mat-horizontal-content-container {
  padding: 0 0 0 0 !important;
}





