.edit-content-info .mat-grid-list .title .mat-grid-tile-content{
  justify-content:right !important;
}
.edit-content-info .mat-grid-list .content .mat-grid-tile-content{
  justify-content:left !important;
}

.edit-content-info .mat-grid-list .content .mat-mdc-form-field{
  width:100%  !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

.mat-mdc-form-field-focus-overlay {
  background-color: white;
}


.edit-content .edit-content-header{
  padding: 10px 0 0 10px;
  font-weight: bold;
  font-size:15px;
}

.edit-content .edit-content-info{
  height: calc(100vh - 215px);
  overflow: auto;
  background-color: #ffffff;
  padding: 0px 2px 0 0px;
}


.edit-content .edit-content-info::-webkit-scrollbar {
  width: 1px;
}

/* 滚动条轨道 */
.edit-content .edit-content-info::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 设置轨道的背景颜色 */
}

/* 滚动条滑块 */
.edit-content .edit-content-info::-webkit-scrollbar-thumb {
  background-color: #888; /* 设置滑块的背景颜色 */
  border-radius: 10px; /* 设置滑块的圆角 */
}

/* 鼠标悬停在滚动条上时的滑块 */
.edit-content .edit-content-info::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 设置悬停状态下滑块的背景颜色 */
}

