@use 'variable';

.page-content-menu {
  width: 240px;
  padding-top: 0px;
  box-shadow: 1px 0px 20px variable.$shadow;
  .mat-nav-list .mdc-list-item {
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    &:hover {
      background: none;
    }

    &.selected > span {
      display: block;
      &:hover {
        background: none;
        > a {
          color: variable.$themecolor;
        }
      }
    }

    a {
      padding-left: 4px;
      height: 48px;
      align-items: center;
      display: flex;
      font-size: 15px;
      white-space: nowrap;
      color: variable.$sidebar-text;
      mat-icon{
        margin-right: 2px;
      }
      mat-icon:not(:empty) {
        color: variable.$sidebar-icons;
        flex: 0 0 24px;
      }
    }

    &.selected > span > span > a {
      background: variable.$themecolor-alt;
      border-radius: variable.$radius;
      color: variable.$white;
      mat-icon {
        color: variable.$white;
      }
    }
  }


}

.example-container .mat-mdc-input-element{
  height: 24px !important;
}

.icon-button {
  width: 32px !important;
  height: 32px !important;
  padding: 0px !important;
  margin: 0;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role=img] {
    width: 24px;
    height: 24px;
    font-size: 24px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 32px !important;
    height: 32px !important;
  }
}

.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  padding: 0px !important;
  margin: 0;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role=img] {
    width: 16px;
    height: 16px;
    font-size: 16px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 24px !important;
    height: 24px !important;
  }
}

.small-icon{
  font-size: 16px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.small-button {
  width: 18px !important;
  height: 18px !important;
  padding: 0px !important;
  margin: 0;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  .mdc-checkbox{

    .mdc-checkbox__native-control{
      width: 18px !important;
      height: 18px !important;
      top: 10px !important;
      right: 10px !important;
      left: 12px !important;
    }
  }

  .mat-mdc-checkbox-touch-target {
    width: 18px !important;
    height: 18px !important;
  }

}


.mat-mdc-table .mat-mdc-icon-button {
  width: 32px !important;
  height: 32px !important;
  padding: 0px !important;
  margin: 0;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role=img] {
    width: 24px;
    height: 24px;
    font-size: 24px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 32px !important;
    height: 32px !important;
  }
}
