
.page-content-menu {
  width: 240px;
  padding-top: 0px;
  box-shadow: 1px 0px 20px $shadow;
  .mat-nav-list .mdc-list-item {
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    &:hover {
      background: none;
    }

    &.selected > span {
      display: block;
      &:hover {
        background: none;
        > a {
          color: $themecolor;
        }
      }
    }

    a {
      height: 48px;
      align-items: center;
      display: flex;
      font-size: 15px;
      white-space: nowrap;
      color: $sidebar-text;
      mat-icon{
        margin-right: 2px;
      }
      mat-icon:not(:empty) {
        color: $sidebar-icons;
        flex: 0 0 24px;
      }
    }

    &.selected > span > span > a {
      background: $themecolor-alt;
      border-radius: $radius;
      color: $white;
      mat-icon {
        color: $white;
      }
    }
  }
}

