.mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0 0 3px 15px;
}

.mat-mdc-nav-list .mat-expansion-panel-header{
  padding: 0px 6px 0px 0px;
}

.page-content-msg{
  width: 240px;
  padding-top: 0px;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.mat-drawer-container .mat-drawer-backdrop .mat-drawer-shown {
  background-color: rgba(0,0,0,0);
}

mat-expansion-panel-header span{
  display: flex;
  align-items: center;
}
mat-expansion-panel-header .mat-icon{
  margin-right: 4px;
}
